@media screen and (min-width: 1000px) {
    html {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    body {
        width: 100vw;
        height: 100vh;
        position: relative;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 5em;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        }
    
    time {
        
        font-weight: normal;
        width: 400px;
        height:100px;
        border: 3px solid black;
        border-radius: 200px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
    }

    #tema {
        -webkit-appearance: none;
        appearance: none; 
        width: 70px;
        cursor: pointer;
        outline: none;
        border: 1px solid black;
        padding: 15px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 30px;
        height: 5px;
        background: #ccccccb9;
    }
    
    #tema::-webkit-slider-thumb {
        appearance: none;
        height: 30px;
        width: 30px;
        background: transparent;
        background-image: url("botaoTema.png");
        background-size: cover;
        border-radius: 50px;
        
    }
    
    input {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(20vw, -45vh);
    }

}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    html {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    body {
        width: 100vw;
        height: 100vh;
        position: relative;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 5em;
        font-weight: bolder;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        }
    
    time {
        
        font-weight: normal;
        width: 400px;
        height:100px;
        border: 3px solid black;
        border-radius: 200px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
    }

    #tema {
        -webkit-appearance: none;
        appearance: none; 
        width: 70px;
        cursor: pointer;
        outline: none;
        border: 1px solid black;
        padding: 15px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 30px;
        height: 5px;
        background: #ccccccb9;
    }
    
    #tema::-webkit-slider-thumb {
        appearance: none;
        height: 30px;
        width: 30px;
        background: transparent;
        background-image: url("botaoTema.png");
        background-size: cover;
        border-radius: 50px;
        
    }
    
    input {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(11vw, -45vh);
    }

}


@media screen and (max-width: 700px) {
    html {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body {
        font-size: 1.6em;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    time {
        font-weight: normal;
        width: 200px;
        height:50px;
        border: 3px solid black;
        border-radius: 100px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
    }

    #tema {
        -webkit-appearance: none;
        appearance: none; 
        width: 70px;
        cursor: pointer;
        outline: none;
        border: 1px solid black;
        padding: 15px;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 30px;
        height: 5px;
        background: #ccccccb9;
    }
    
    #tema::-webkit-slider-thumb {
        appearance: none;
        height: 30px;
        width: 30px;
        background: transparent;
        background-image: url("botaoTema.png");
        background-size: cover;
        border-radius: 50px;
        
    }
    
    input {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(50vw, -50vh);
    }
    
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
    }

    #burger {
        background-color: rgb(222, 219, 219);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 20px;
        height: 18px;
        border-radius: 5px;
        box-shadow: -2px 2px 5px black;
        user-select: none;
        transform: translate(-28vw, -44vh);
    }

    #burger:hover {
        background-color: rgb(163, 160, 160);

    }

    #burger:active {
        background-color: rgb(103, 100, 100);
        color: white;

    }

    h1 {
        text-align: center;
    }

    a {
        width: 30px;
        height: 10px;
        font-size: 20px;
        font-family: cursive;
        font-weight: bolder;
        text-decoration: none;
        background-color: rgb(103, 100, 100);
        color: black;
        margin: 5px;
        text-align: center;
        user-select: none;
        transition: transform 1s;
        transform: translateX(5px) scale(2);
    }

    a:hover, a:focus {
        background-color: rgb(80, 79, 79);
        color: white;
        text-shadow: -1px 1px 0 black;
        padding: 10px 15px;
        border-radius: 5px;
        transform: translateX(10px) scale(5);
    }